$color-grey-50: hsl(210, 20%, 98%);
$color-grey-100: hsl(220, 14%, 96%);
$color-grey-200: hsl(220, 13%, 91%);
$color-grey-300: hsl(216, 12%, 84%);
$color-grey-400: hsl(218, 11%, 65%);
$color-grey-500: hsl(220, 9%, 46%);
$color-grey-600: hsl(215, 14%, 34%);
$color-grey-700: hsl(217, 19%, 27%);
$color-grey-800: hsl(215, 28%, 17%);
$color-grey-900: hsl(221, 39%, 11%);
